body{
background-image: url(https://images.unsplash.com/photo-1593642632559-0c6d3fc62b89?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80);
background-size: 100vw 100vh;
background-repeat: no-repeat;
background-size:cover;
}
h3{
    text-align: center;
    background-color: rgba(58, 58, 61, 0.281);
    font-size:2em;
    color:white;
}