body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
li{
    font-size: 0.8em;
    line-height: 1.5em;
}
ul{
    padding-inline-start: 1.2em;
}
li{
    list-style-type:none ;
}
section{
    font-size:2rem;
    border:0.5rem solid;
}
section ul li ul li ul li::marker{
    content: ' 🐶';
}


section ul li ul li:nth-of-type(2) ul li::marker{
    content: ' 🐯';
}




section ul li:nth-of-type(2) ul li ul li::marker{
    content: ' 🐣';
}


section ul li:nth-of-type(3) ul li ul li::marker{
    content: ' 🪱';
}
section ul li:nth-of-type(3) ul li:nth-of-type(2) ul li::marker{
    content: ' 🦎';
}


